/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
    
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
   
}
#black-bar {
    width: 100%;
    height: 40px; 
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
 
}


.centered-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Couleur du texte */
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
.projects-header {
    display: flex;
    align-items: center; /* Aligner les éléments verticalement au centre */
	justify-content: center;
	margin-bottom: 35px;
   
}

.projects-header h2 {
    margin-right: 15px; 
	
}

.projects-header a {
    text-decoration: none;
    color: #1D6154; /* Couleur du lien */
    font-size: 16px; 
}
.projects-header a i  {
 
   margin-right: 8px;
}

.projects-header a:hover {
    color: #B1663C; /* Couleur au survol du lien */
}


.gallery-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 
    padding: 20px; 
}

.close {
    align-self: flex-end; /* Aligner la croix à gauche */
}

.gallery-header h2 {
    margin-top: 10px; 
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filtres {
	display: flex;
	justify-content: center;
	margin-bottom: 51px;
}

.filtres>button {
	color: #1D6154;
	font-family: syne;
	background-color: inherit;
	border-radius: 20px;
	border-color: #1D6154;
	border-width: 1px;
	margin-right: 10px;
	font-size: 16px;
	height: 37px;
	padding-left: 20px;
	padding-right: 20px;
}

.filtres>button:hover {
	background-color: #1D6154;
	color: #FFFFFF;
}



.oubli {
    color: black;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 250px;
}

.login h2 {
    padding-bottom: 30px;
}

.login_email input,
.login_password input {
    width: 379px;
    height: 51px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.19);
}

.login_email p,
.login_password p {
    padding-bottom: 10px;
}

.login_button {
    width: 179px;
    height: 36px;
    border: none;
}

input .login_button {
    margin-bottom: 5px;
}

.bad_login {
    display: none;
    color: red;
}

a {
    text-decoration: none;
}






.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 18rem;
}

.back {
    font-weight: 900;
    color: black;
}

.login a {
    text-decoration: underline;
    margin-bottom: 100px;
}

.login h2 {
    margin-bottom: 2rem;
}

.login form {
    width: 37%;
}

.mail {
    margin: 1rem;
}

.email {
    margin: 2em 0 1em 0;
}

#email {
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-top: 0.5rem;

}

.mdp {
    margin: 1rem;
}

.password {
    margin: 2em 0 1em 0
}

#password {
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-top: 0.5rem;
}

.login #submit {
    display: flex;
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    line-height: 20px;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    border-style: none;
    height: 40px;
    justify-content: center;
}

.login #submit:hover {
    cursor: pointer;
    background-color: white;
    color: #1D6154;
    border-style: solid;
    border-color: #1D6154;
}

.forgot a {
    color: black;
}




/* CSS modale*/

.hidden {
    display: none;
}

.modal {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
	overflow: hidden;
	
	margin: 0px auto; 
	
	padding : 20px 80px 20px 80px;
	background-color: #FFF;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	max-width: 70vh;
    border-radius: 15px; 
}

.gallery-modal{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 20px;


}



.gallery-modal figure img{
	width: 100%;
	padding-bottom: 15px;
	

}


.gallery-modal figure {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.gallery-modal figure button {
    position: absolute;
    top: 5px;
    right: 5px; 
    background-color: transparent;
    border: none;
    cursor: pointer;
	background-color: black;
}



.gallery-modal .fa-trash-can {
	color: white;
    font-size: 0.7rem;
	
	
}



.modal-wrapper h2 {
	margin-top: 10px;
	margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}


.container-button-modal {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    border-top: 1px solid gray;
	
	
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; 
}

.container-button-modal button {
	background-color: #1d6154;
    padding: 9px 50px;
	margin-top: 25px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    font-family: Syne;
    cursor: pointer;
	border: none;
}

.container-button-modal button:hover {
	background-color: white;
    border: 1px solid #1d6154;
    color: #1d6154;
}



/* Modale 2 - Add works */
.modal2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 70vh;
    padding: 20px 80px;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5); /* Ajout de l'ombre */
  
}

.modal2 .arrow-left .fa-arrow-left {
	position: absolute;
    top: 10px;
    left: 10px;

    cursor: pointer;
}

.modal2 h2 {
	margin-top: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
}


.modal2 form .container-file {
	display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    background-color: #e8f1f6;
    gap: 15px;
    width: 100%;
    margin-bottom: 20px;
   
}
#title {
    margin-bottom: 20px; 
}

.modal2 form .container-file img {
    display: none;
   
    height: 100%;
    z-index: 2;
    position: absolute;
   
   
}

.modal2 form .container-file .fa-image {
	margin-top: 1rem;
	font-size: 4rem;
    color: #b9c5cc;
   
}


.modal2 form .container-file .label-file {
	display: block;
    display: flex;
    align-items: center;
    background-color: #b9c5cc;
    border-radius: 15px;
    height: 30px;
    padding: 0 20px;
    color: #306685;
    cursor: pointer;
  
   
}




.modal2 form .container-file input {
	opacity: 0;
}

.modal2 form #title {
	height: 51px;
    width: 100%;
	font-size: 0.8rem;
	border: none;
	box-shadow: 0 0.25rem 0.87rem rgba(0, 0, 0, 0.09);
  
}

.modal2 form #category-input {
    width: 100%;
	height: 51px;
	font-size: 0.8rem;
	border: none;
	box-shadow: 0 0.25rem 0.87rem rgba(0, 0, 0, 0.09);
}

.container-button-addworks {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    border-top: 1px solid gray;
}

.container-button-addworks .button-modal-2 {
	background-color: #a7a7a7;
    padding: 9px 50px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    font-family: Syne;
    cursor: pointer;
	border: none;
}

.container-button-addworks .button-modal-2:hover {
	background-color: white;
    border: 1px solid #1d6154;
    color: #1d6154;
}

.button-modal-2-active {
	background-color: #1d6154;
	padding: 9px 50px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    font-family: Syne;
    cursor: pointer;
	border: none;
}